button  {
    margin-bottom: 35px;
}

.jumbotron  {
    background: #ffef96;
}

.list-group-item    {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: #ffef96;
    background: rgb(65, 62, 62);
}

/* textarea    {
    background: gray;
    color: #ffef96;
}

input   {
    background: gray;
    color: #ffef96;
} */