button  {
    margin-bottom: 35px;
}

.jumbotron  {
    background-image: radial-gradient(white, #ffef96, #f7efc2);
    min-height: 150vh;
    width:100vw;
    background-size: cover;
    height: auto;
}

.list-group-item    {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    color: #ffef96;
    border: 2px solid black;
    background: rgb(59, 58, 48);
    box-shadow: 10px 10px 2px black; 
    transform: translateY(4px);
}

input   {
    background: gray;
    color: #ffef96;
} 