#nav-menu   {
    margin-top: 40px;
}

#initials   {
    margin-left: 20px;
    padding-bottom: 10px;
}

.navdeco  {
    background: black;
    border: 1px solid #ada578;
}

a  {
    color: #ffef96;
}